@charset "UTF-8";
* {
    margin: 0px;
}
body {
    background-color: rgba(57, 232, 124, 0.664);
}
header {
   
    background-color: white;
    width: 1200px;
    height: 40px;
    margin: auto;
    padding: 10px;
}
img#logo {
    float: left;
}
nav {
    float: right;
}
.menu {
    margin-right: 30px;
    height: 30px;
    border: none;
    font-size: 15pt;
    text-decoration: none;
}
.menu:hover {
    text-decoration: underline;
}
button {
    background-color: rgb(10, 185, 127);
    color: white;
    padding: 10px;
    border: none;
    margin-right: 70px;
    width: 70px;
}
button:hover {
    background-color: rgb(97, 91, 91);
}